.advanced-header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fish.jpg');
	background-position: 50% 85%;
	background-size: cover;
}

.split-section-right-image img {
	width: 90%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.equipment {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.equipment-item {
	text-align: center;
	flex: 1;
	padding: 1rem;
}

.equipment-item img {
	width: 70%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 0.5rem;
}

.content {
	max-width: 90%;
	margin: 0 auto 20px auto;
	padding: 0px 20px 20px 20px;
}

.steps-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.step {
	flex-direction: column;
	flex: 1;
}

.step {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s, box-shadow 0.3s;
	max-height: 800px;
}

.step:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
}

.step-content {
	padding: 20px;
	width: 85%;
}

.step h2 {
	margin-top: 0;
	color: #22537a;
}

.step p {
	margin: 10px 0;
	line-height: 1.6;
}