.nav-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer li {
  list-style: none;
  font-family: Oxygen, Arial;
  color: #4b4b4b;
}

footer li:hover {
  cursor: pointer;
}

footer a {
  color: #4b4b4b;
}

footer a:active,
.tiles a:active,
.menu-links a:active {
  border: none;
}

footer p {
  font-size: 13px;
  text-align: center;
  line-height: 28px;
}

footer hr {
  width: 100%;
}


@media screen and (max-width: 1200px) {

  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}