@media screen and (max-width: 1200px) {

  .form-side {
    flex: 1.5;
  }
  .form-container {
    margin-top: 0;
    padding-top: 0;
    max-width: 100%;
  }

  .contact-us,
  .form-group {
    flex-direction: column;
  }

  .form-group {
    gap: 1rem;
  }

  .pricing-detail {
    flex-direction: column;
  }

  .pricing-text {
    margin-left: 0;
  }

  .equipment,
  .pricing-section {
    margin-bottom: 0;
  }

  .pricing-section {
    box-shadow: none;
  }

  .why-page-text-side ul,
  .why-page-text-side ol {
    max-width: 75%;
    margin-right: 0;
    padding-left: 0;
  }


  .right-section {
    display: none;
  }

  #right-section-hamburger {
    display: flex;
    justify-content: center;
    margin-top: -4px;
  }

  .work-section {
    flex-direction: column;
  }

  .work-section p {
    padding: 2rem 0rem;
  }

  .work-section-left {
    width: 100%;
    text-align: center;
  }

  .work-section-left p {
    font-size: 25px;
  }

  .what-we-do-section {
    background-position: center;
  }

  .what-we-do-section p {
    margin-bottom: 20px;
  }

  .what-we-do-info-section {
    flex-direction: column;
    height: auto;
  }

  .what-we-do-info-section a {
    margin-bottom: 30px;
  }

  .what-we-do-info-section .subheadline {
    padding: 0;
  }

  .bio-section-info {
    height: auto;
  }

  .bio-section-info p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bio-section {
    flex-direction: column;
  }

  .bio-section-photo {
    margin-top: 0px;
  }

  .work-section-right {
    padding-bottom: 1rem;
  }

  .what-we-do-info-section a {
    font-weight: 200;
    font-size: 11px;
  }

  .tile {
    flex: 1 1 100%;
  }

  .tiles {
    padding-bottom: 20px;
  }

  .why-page-first-section,
  .why-page-second-section {
    grid-template-columns: 1fr;
    margin: 0.75rem;
  }

  .why-page-second-section {
    display: flex;
    flex-direction: column;
  }

  .why-page-img-side.first-image {
    margin-top: 2rem;
  }

  .why-page-img-side:nth-child(1),
  .why-page-text-side:nth-child(3) {
    order: 1;
  }

  .why-page-text-side:nth-child(2),
  .why-page-img-side:nth-child(2) {
    order: 2;
  }

  .why-page-text-side:nth-child(4) {
    order: 3;
  }


}

@media screen and (max-width: 1000px) {
  .top-section {
    padding-top: 150px;
    max-height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .main-section .headline {
    font-size: 2em;
  }

  .subheadline {
    font-size: 1em;
  }

  .section-title {
    font-size: 1.5em;
  }

  .section-subtitle {
    font-size: 1.25em;
  }

  ul.check_bullet {
    display: block;
  }

  ul.check_bullet li {
    max-width: 80%;
  }

  .work-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p.section-description,
  p.section-subtitle {
    padding-top: 0;
  }

  p.section-subtitle {
    padding-bottom: 0;
  }

  .bio-section-info p {
    padding-left: 0;
    /* text-align: justify; */
  }

  .why-page-img-side img {
    max-width: 85%;
  }

  .steps-container {
    flex-direction: column;
  }

  .step {
    flex-direction: column;
    max-height: 100%;
  }

  .step img {
    width: 100%;
  }

  .step-content {
    width: 80%;
    padding: 30px;
  }



}