@media screen and (max-width: 1200px) {
  .steps-container {
    flex-direction: column;
    margin: 1.5rem;
  }
  .lifted-section h1 {
    font-size: 1.5em;
  }

  .split-section {
    margin: 0;
  }
  .split-section-left-side,
.split-section-right-side {
  max-width: 75%;
  margin: 0;
  padding: 0;
  }


  .split-section ul{
    padding: 0 .75rem;
  }

  .split-section .indent-bullets {
    padding-left: 2rem;
  }

  .lifted-section h1 {
    margin: 2rem 3rem;
  }

  .step {
    flex-direction: row;
  }

  .advanced-step img {
    width: 60%;
    overflow: hidden;
  }

  .advanced-content {
    max-width: 100%;
    padding: 0 0 20px 0;
  }

  .lifted-section {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .form-side {
    flex: 1.5;
  }

  .text-center {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form-container {
    padding: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    max-width: 100%;
  }

  .contact-us,
  .form-group,
  .split-section {
    flex-direction: column;
  }

  .form-group {
    gap: 1rem;
  }

  .split-section-left-text {
    margin-left: 0;
  }

  .equipment,
  .lifted-section {
    margin-bottom: 0;
  }

  .lifted-section {
    box-shadow: none;
  }

  .why-page-text-side ul,
  .why-page-text-side ol {
    max-width: 75%;
    margin-right: 0;
    padding-left: 0;
  }

  .right-section {
    display: none;
  }

  #right-section-hamburger {
    display: flex;
    justify-content: center;
    margin-top: -4px;
  }

  .work-section,  
  .bio-section {
    flex-direction: column;
  }

  .work-section p {
    padding: 2rem 0;
  }

  .bio-section-info {
    height: auto;
  }

  .bio-section-info p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bio-section-photo {
    margin-top: 0px;
  }

  .work-section-right {
    padding-bottom: 1rem;
  }

  .tile {
    flex: 1 1 100%;
  }

  .tiles {
    padding-bottom: 20px;
  }

  .why-page-first-section,
  .why-page-second-section {
    grid-template-columns: 1fr;
    margin: 0.75rem;
  }

  .why-page-second-section {
    display: flex;
    flex-direction: column;
  }

  .why-page-img-side.first-image {
    margin-top: 2rem;
  }

  .why-page-img-side:nth-child(1),
  .why-page-text-side:nth-child(3) {
    order: 1;
  }

  .why-page-text-side:nth-child(2),
  .why-page-img-side:nth-child(2) {
    order: 2;
  }

  .why-page-text-side:nth-child(4) {
    order: 3;
  }
}

@media screen and (max-width: 1000px) {
  .top-section {
    padding-top: 150px;
    max-height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .split-section-right-image img {
    width: 85%;
  }

  .main-section .headline {
    font-size: 2em;
  }

  .subheadline {
    font-size: 1em;
  }

  .section-title {
    font-size: 1.5em;
  }

  .section-subtitle {
    font-size: 1.25em;
  }

  ul.check_bullet {
    display: block;
  }

  ul.check_bullet li {
    max-width: 80%;
  }

  .work-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p.section-description,
  p.section-subtitle {
    padding-top: 0;
  }

  p.section-subtitle {
    padding-bottom: 0;
  }

  .bio-section-info p {
    padding-left: 0;
  }

  .why-page-img-side img {
    max-width: 85%;
  }

  .step {
    flex-direction: column;
  }

  .step {
    max-height: 100%;
  }

  .step img {
    width: 100%;
  }

  .step-content {
    width: 80%;
    padding: 30px;
  }
}