.pricing-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('../images/pricing-header.jpeg');
  background-position: 50% 65%;
  background-size: cover;
}

.split-section-right-image img {
  width: 70%;
}

.equipment {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.equipment-item {
  text-align: center;
  flex: 1;
  padding: 1rem;
}

.equipment-item img {
  width: 70%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}