.why-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('../images/turtle.avif');
  background-position: 50% 65%;
  background-size: cover;
}

.why-page-first-section,
.why-page-second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem;
}

.why-dive-videos-container {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 3rem 3rem
}

.why-dive-videos-upper-section {
  text-align: center;
  margin-bottom: 2rem;
}

.why-dive-youtube-button {
  all: unset;
  color: black;
}

.why-dive-videos-lower-section {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.video-1, .video-2, .video-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video-1 iframe,
.video-2 iframe,
.video-3 iframe {
  height: 100%;
  width: 100%;
  min-height: 30vh;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.why-page-text-side li {
  text-align: left;
  line-height: 2rem;
}

.why-page-text-side {
  display: flex;
  justify-content: center;
}

.why-page-text-side ol {
  max-width: 75%;
}


.why-page-text-side ul {
  margin-right: 4rem;
}

.why-page-img-side {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-page-img-side img {
  border-radius: 12px;
  max-width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.why-page-title {
  text-align: center;
}

.why-page-text-side.title-version {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-page-text-side.title-version h1 {
  margin-bottom: 0;
}